.search-form {
  .gow-style {
    row-gap: 10px;
  }
  .btnSeparate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .ant-select-selection-item > div > p:nth-of-type(2) {
    display: none !important;
  }
  .no-show {
    display: none !important;
  }
}
